<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
<button onclick="saveReq()">글작성</button>

<table>
    <tr>
        <th>id</th>
        <th>제목</th>
        <th>작성자</th>
        <th>날짜</th>
        <th>조회수</th>
    </tr>
    <tr th:each="board: ${boardList}">
        <td th:text="${board.id}"></td>
        <td><a th:href="@{|/board/${board.id}|(page=${boardList.number + 1})}" th:text="${board.boardTitle}"></a></td>
        <td th:text="${board.boardWriter}"></td>
        <td th:text="*{#temporals.format(board.boardCreatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
        <td th:text="${board.boardHits}"></td>
    </tr>
</table>
<div class="pagination">
    <a th:href="@{/board/paging(page=1)}">First</a>
    <a th:href="${boardList.first} ? '#' : @{/board/paging(page=${boardList.number})}">prev</a>

    <span th:each="page: ${#numbers.sequence(startPage, endPage)}">
      <span th:if="${page == boardList.number + 1}" th:text="${page}"></span>
      <span th:unless="${page == boardList.number + 1}">
          <a th:href="@{/board/paging(page=${page})}" th:text="${page}"></a>
      </span>
  </span>

    <a th:href="${boardList.last} ? '#' : @{/board/paging(page=${boardList.number + 2})}">next</a>
    <a th:href="@{/board/paging(page=${boardList.totalPages})}">Last</a>
</div>

</body>
<script>
    const saveReq = () => {
        location.href = "/board/save";
    }

</script>
</html>